<footer class='footer'>
  <small>
    <p>
      Designed and built by <a href='//github.com/noahtheduke'>@noahtheduke</a>. Based on original design by <a href='//github.com/alsciende'>@alsciende</a>.
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Cards', cards_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
    </ul>
  </nav>
</footer>
